{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Authentication</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
<div class="container">
    {% if user.is_authenticated %}
    <h2>Profile Information</h2>
    <div class="user-info">
        <p><strong>You are logged in as:</strong> {{ user.first_name }}
            {% if user.last_name %}{{ user.last_name }}{% endif %}</p>
        <p><strong>Username:</strong> {{ user.username }}</p>
        {% if email %}
        <p><strong>Email:</strong> {{ user.email }}</p>
        {% endif %}
    </div>
    {% if user.profile.tg %}
    <h2>Telegram Account Information</h2>
    <div class="user-info">
        <p><strong>You are logged in as:</strong> {{ user.profile.tg.first_name }}
            {% if user.profile.tg.last_name %}{{ user.profile.tg.last_name }}{% endif %}</p>
        {% if user.profile.tg.username %}
        <p><strong>Username:</strong> {{ user.profile.tg.username }}</p>
        {% endif %}
        <p><strong>Telegram ID:</strong> {{ user.profile.tg.telegram_id }}</p>
    </div>
    {% else %}
    <p class="cta">You do not have a linked Telegram account<br>
        <a href="{% url 'telegram_linking' %}">Link your Telegram account now!</a>
    </p>
    {% endif %}
    <p><a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
    <h2>You are not logged in</h2>
    <p>Please <a href="{% url 'telegram_auth' %}">authenticate</a> via Telegram to continue</p>
    <p class="cta">Alternatively, create a superuser using the command “<code>make superuser</code>”
        and link your Telegram account to it</p>
    {% endif %}
</div>
</body>
</html>
